root = true

[*]
charset = utf-8
indent_style = tab
tab_width = 4

[*.cs]
dotnet_diagnostic.CS4014.severity = suggestion
dotnet_diagnostic.IDE0036.severity = warning
dotnet_diagnostic.IDE0130.severity = none
csharp_preferred_modifier_order = public,private,protected,internal,file,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,required,volatile,async
